#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(auto 4);
    column-gap: 1%;
    row-gap: 2%;
    background-color: pink;
    width: auto;
    height: 700px;
    margin: 10px;
}

#map {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: green;
    width: 100%;
    height: 100%;
}

#graph {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
    width: 100%;
    height: 100%;
}

#weather {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: blue;
    width: 100%;
    height: 100%;
}

#location_input {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: yellow;
    width: 100%;
    height: 100%;
}

#options {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: orange;
    width: 100%;
    height: 100%;
}

#calendar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: grey;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: xx-large;
    color: aqua;
}

